<h1>Stupid Coaching</h1>
<div class="you">
  <p id="question"> <%= @ask %> </p>
  <p>- You</p>
</div>
<div class="coach">
  <p id="answer"><%= @answer %> </p>
  <p>- Coach</p>
</div>
<%= link_to 'Ask a new question' , '/ask' %>
