// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Helvetica;
}

.you, .coach {
  background: #F4F4F4;
  width: 500px;
  border-left: 5px solid #dcdcdc;
  padding-left: 10px;
  font-weight: 50px;
  padding: 0 auto;
}

#answer {
  font-weight: bold;
}

.coach {
  background: #fffee0;
}
